<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.component.css">
</head>
<body>
   
   
    <div class="registration">
            <h1>Profile</h1>
        
            <input type="text" name="name" placeholder="Name">
                
            <input type="text" name="address" placeholder="Address">
                
            <input type="email" name="email" placeholder="Email">
                
            <input type="tel" name="phone" placeholder="Phone"> 
        
            <input type="text" name="sport" placeholder="Sport">
            
            <input type="submit" value="Submit" class="submit">
    
        
</div>
       
    
  
    <router-outlet></router-outlet>
</body>
</html> 
